// BACKGROUND COLORS
$background-app: #1e272e;
$background-card: #3a434b;

$background-primary: #ffc048;
$background-secondary: #4bcffa;

// TEXT COLORS
$text-primary: #fefefe;
$text-secondary: #808e9b;
